{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
bienvenue sur l'acceuil

<button type="button" class="btn btn-success">Success</button>
{% endblock %}
